

.product_container{
    /* display: flex;
    flex-direction: row; */
    margin: 1rem 2rem;
    /* justify-content: space-between;
    align-items: center; */
    font-size: 14px;
}



.side_bar{
    
    margin-right: 1rem;
    /* border: 2px solid red; */
    border-radius: 10px;
    /* width: 20%; */
    height: 100vh;
    /* display: inline-block; */
    float: left;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem 2rem;
    line-height: 4rem;
    position: fixed;
    top: 0rem;
    
}

.side_bar div{
    /* cursor: pointer; */
    opacity: 0.7;
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.side_bar a,div a{
    text-decoration: none;
    color: black;
}

.res_item{
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.res_item:hover{
    opacity: 1;
    font-weight: bold;
    transform: scale(1.10);
}


.side_bar div:hover{
    opacity: 1;
    font-weight: bold;
    transform: scale(1.10);
}

.product {
    /* border: 2px solid red; */
    width: 80%;
    height: 100%;
    /* margin: 1rem; */
    /* display: inline-block; */
    float: right;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 0rem 2rem;
    position: relative;
    top: 4rem;
}

.All_product_div{
    /* width: 500px; */
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: stretch; */
    margin: 1rem 2rem;
}

.cart_btn{
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    z-index: 100;
}

.pre_btn{
    position: fixed;
    bottom: 4.5rem;
    right: 1.5rem;
    z-index: 100;
}

@media (max-width:900px){

    .side_bar{
        display: none;
    }

    .product{
        width: 100%;
        float: none;
        padding: 0 0.5rem;
        position: relative;
        top: 3rem;
    }

    .product_container{
        margin: 1rem .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* .All_product_div{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .res_div2{
        /* display: flex; */
        flex-direction: column;
        align-items: center;
    }

    .cart_btn{
        position: fixed;
        bottom: 0.5rem;
        right: 0.5rem;
        z-index: 100;
    }
    .pre_btn{
        position: fixed;
        bottom: 4.5rem;
        right: 1rem;
        z-index: 100;
    }

}

@media (max-width:600px) {
    .All_product_div{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .res_div2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}