.seller{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.seller header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 30vh; */
    padding: 0 5%;
    border: 2px solid rgb(221, 219, 219);
}

.first{
    display: flex;
    align-items: center;
}

.owner{
    text-align: left;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* line-height: 0.5rem; */
    /* text-overflow: ellipsis; */
}

.owner p{
    overflow-wrap: anywhere;
    opacity: 0.7;
}

.edit{
    align-self: flex-start;
    margin-bottom: 7px;
}

.seller_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    margin-top: 1rem;
}

.add_new_product{
    width: 30%;
    height: 100%;
    border: 2px solid rgb(221, 219, 219);

    text-align: center;
    margin-right: 0.5rem ;
}
.add_new_product2{
    width: 30%;
    height: 100%;
    border: 2px solid rgb(221, 219, 219);

    text-align: center;
    margin-right: 0.5rem ;
    display: none;
}

.add{
    padding-top: 10px;
    height: 95vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add2{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.add2 img{
    position: relative;
    animation: rocket 2s ease 0s 1 both;
}

@keyframes rocket {
    0%{
        bottom: 0rem;
    }
    100%{
        bottom: 20rem;
    }
}


.add_new_product img{
    width: 90%;
    /* height: 17rem; */
    box-sizing: border-box;
    border-radius: 10px;
}
.add_new_product2 img{
    width: 90%;
    /* height: 17rem; */
    box-sizing: border-box;
    border-radius: 10px;
}

.add_new_product form{
    width: 90%;
}
.add_new_product2 form{
    width: 90%;
}

.list_of_orders{
    text-align: center;
    border: 2px solid rgb(221, 219, 219);

    width: 70%;
    height: 100%;
    margin-left: 0.5rem;
}
.list_of_orders2{
    text-align: center;
    border: 2px solid rgb(221, 219, 219);

    width: 70%;
    height: 100%;
    margin-left: 0.5rem;
    display: none;
}

.list{
    padding-top: 10px;
    height: 95vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    text-align: initial;

    /* border: 2px solid red; */
}

.table{
    width: 90%;
    /* border: 2px solid red; */
    margin: 0 auto;
    background-color: rgb(245 241 241 / 88%);
}

.user_details{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(241 237 237);
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0.5rem;
    overflow-wrap: break-word;

}
.user_details2{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(241 237 237);
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0.5rem;
    overflow-wrap: break-word;

}

.user_details p{
    margin: 0;
    margin-left: 1rem;
    overflow-wrap: anywhere;
    opacity: 0.7;
    font-size: 12px;
}

.user_details .dispatch{
    /* align-self: flex-end; */
    justify-self: flex-end;
}

.pro_img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

.order{
    margin-bottom: 10px;
}

.empty{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty_logo{
    width: 15rem;
}

.upload{
    display: none;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

.res{
    display: none;
    width: 100%;
}


@media (max-width:700px) {

    .add_new_product,.list_of_orders{
        display: none;
    }

    .res{
        display: block;
    }

    .add_new_product2,.list_of_orders2{
        width: 100%;
        margin: 0;
    }

    .list_of_orders{
        width: 100%;
        margin: 0;
        /* text-overflow: clip; */
    }
    
    .seller header{
        flex-direction: column;
    }

    .upload{
        display: block;
    }

    .user_details p,.owner p{
        font-size: 13px;
    }
    
}


