.login_card{
    width: 400px;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 5rem auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.151);
}

@media (max-width:700px) {
    .login_card{
        width: 90%;
    }
}