.profile_info{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.profile_info img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}