
.cards{
    display: inline-block;
    /* margin: 90px 80px; */
    /* background: rgba(255, 255, 255, 0); */
    /* margin: 0 auto; */
  }
  
  
  .card{
    width: 172px;
    /* height: 300px; */

    /* border: 2px solid red; */
    border-radius: 10px;
    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    position: relative;
    /* transition: all .3s ease-in-out; */
    margin: 11px;
    /* background-color: rgba(243, 243, 243, 0.171);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1); */
    transform: scale(1);
    transition: transform .3s ease-in-out;

  }

  .card:hover{
    transform: scale(1.1);
    z-index: 10;
  }
  
  .card__img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    cursor: pointer;
    
    /* transition:all .7s ease-in-out .2s ; */
    width: 170px;
    height: 100px;
    /* transform: scale(1); */
    transition: all .3s ease-in-out;
  }
  
  .card__info{
    padding: 10px 20px;
    /* line-height: 90%; */
  }

  .desc{
    padding: 10px;
    height: 113px;
    font-size: smaller;
    overflow-y: auto;
  }

  .card__title{
      word-spacing: 10px;
      opacity: 0.7;
  }
  
  .card__category{
      text-transform: capitalize;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #6d94b4; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(10, 28, 109); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  